'.source.sass':
  '!important':
    'prefix': '!'
    'body': '!important${1:;}$0'
'.source.sass':
  '@Include':
    'prefix': 'include'
    'body': '@include ${0}'
  '@extend':
    'prefix': 'extend'
    'body': '@extend $0'
  '@if':
    'prefix': 'if'
    'body': '@if ${1:conditions}\n\t$0'
  '@import':
    'prefix': 'import'
    'body': '@import "$0"'
  '@mixin':
    'prefix': 'mixin'
    'body': '@mixin ${1:name} {\n\t$0\n}'
  '@function':
    'prefix': 'func'
    'body': '@function ${1:name}(${2:arguments}) {\n\t@return ${3:returnValue};\n}'
'.source.css.scss':
  '@Include':
    'prefix': 'include'
    'body': '@include ${0};'
  '@extend':
    'prefix': 'extend'
    'body': '@extend $0;'
  '@if':
    'prefix': 'if'
    'body': '@if ${1:conditions} {\n\t$0\n}'
  '@mixin':
    'prefix': 'mixin'
    'body': '@mixin ${1:name} {\n\t$0\n}'
  '@function':
    'prefix': 'func'
    'body': '@function ${1:name}(${2:arguments}) {\n\t@return ${3:returnValue};\n}'
