'.source.sass, .source.css.scss':
  '!important':
    'prefix': '!'
    'body': '!important${1:;}$0'
'.source.sass':
  '@Include':
    'prefix': 'include'
    'body': '@include ${0}'
  '@extend':
    'prefix': 'extend'
    'body': '@extend $0'
  '@if':
    'prefix': 'if'
    'body': '@if ${1:conditions}\n\t$0'
  '@import':
    'prefix': 'import'
    'body': '@import "$0"'
'.source.css.scss':
  '@Include':
    'prefix': 'include'
    'body': '@include ${0};'
  '@extend':
    'prefix': 'extend'
    'body': '@extend $0;'
  '@if':
    'prefix': 'if'
    'body': '@if ${1:conditions} {\n\t$0\n}'
  '@import':
    'prefix': 'import'
    'body': '@import "$1";$0'
