'.source.sass':
  'editor':
    'autoIndentOnPaste': false
'.source.sass, .source.css.scss':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(^.*\\{[^}]*$)'
    'decreaseIndentPattern': '^\\s*\\}'
  'autocomplete':
    'symbols':
      'mixin':
        'selector': '.meta.mixin .name, .meta.at-rule.include .function'
        'typePriority': 4
      'function':
        'selector': '.entity.name.function, .support.function'
        'typePriority': 3
      'variable':
        'selector': '.variable'
        'typePriority': 2
      'selector':
        'selector': '.attribute-name.id, .attribute-name.class'
        'typePriority': 1
