'.source.sass':
  'editor':
    'autoIndentOnPaste': false
'.source.sass, .source.css.scss':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(^.*\\{[^}]*$)'
    'decreaseIndentPattern': '^\\s*\\}'
